@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --card: #ffffff;
    --card-foreground: #09090b;
    --popover: #ffffff;
    --popover-foreground: #09090b;
    --primary: #0077ff;
    --primary-foreground: #fcfcfc;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #4da6ff;
    --accent-foreground: #171717;
    --destructive: #ee4444;
    --destructive-foreground: #fcfcfc;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0077ff;
    --radius: 0.5rem;
    --chart-1: #e1634b;
    --chart-2: #2ba88e;
    --chart-3: #2a3c47;
    --chart-4: #e8b964;
    --chart-5: #ec8c6c;
    --sidebar-background: #fcfcfc;
    --sidebar-foreground: #414244;
    --sidebar-primary: #171717;
    --sidebar-primary-foreground: #fcfcfc;
    --sidebar-accent: #f5f5f7;
    --sidebar-accent-foreground: #171717;
    --sidebar-border: #e8e8ea;
    --sidebar-ring: #3b82f6;
    --header-background: #0A2540;
    --header-foreground: #fcfcfc;
  }

  .dark {
    --background: #090a0f;
    --foreground: #fcfcfc;
    --card: #090a0f;
    --card-foreground: #fcfcfc;
    --popover: #090a0f;
    --popover-foreground: #fcfcfc;
    --primary: #0077ff;
    --primary-foreground: #fcfcfc;
    --secondary: #27282e;
    --secondary-foreground: #fcfcfc;
    --muted: #27282e;
    --muted-foreground: #a3a3a3;
    --accent: #4da6ff;
    --accent-foreground: #171717;
    --destructive: #9b2c2c;
    --destructive-foreground: #fcfcfc;
    --border: #27282e;
    --input: #27282e;
    --ring: #0077ff;
    --chart-1: #5a7dbe;
    --chart-2: #4d9a83;
    --chart-3: #b37b40;
    --chart-4: #a375b4;
    --chart-5: #c26a89;
    --sidebar-background: #171717;
    --sidebar-foreground: #f5f5f7;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #27282e;
    --sidebar-accent-foreground: #f5f5f7;
    --sidebar-border: #27282e;
    --sidebar-ring: #3b82f6;
    --header-background: #0A2540;
    --header-foreground: #fcfcfc;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
